services:
    postgres:
        image: postgres:15
        restart: always
        ports:
            - "${POSTGRES_PORT:-5432}:5432"
        env_file: .env
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        volumes:
            - pgdata:/var/lib/postgresql/data
        networks:
            - shared-net
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}",
                ]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s

    migrate:
        image: migrate/migrate:v4.18.1
        env_file: .env
        networks:
            - shared-net
        entrypoint:
            [
                "sh",
                "-c",
                "sleep 5 && migrate -path /migrations -database postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}?sslmode=disable up",
            ]
        depends_on:
            postgres:
                condition: service_healthy
        volumes:
            - ./migrations:/migrations
        restart: on-failure

    app:
        build:
            context: .
            dockerfile: Dockerfile.dev
        ports:
            - "8080:8080"
        env_file: .env
        networks:
            - shared-net
        depends_on:
            postgres:
                condition: service_healthy
            migrate:
                condition: service_completed_successfully
        restart: unless-stopped

volumes:
    pgdata:

networks:
    shared-net:
        driver: bridge
